<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% students.forEach(x => { %>   
        <br><%= x.name %>
        <br><%= x.email %>
        <br><img src=<%= x.img %> style="width: 100px">
    <%})%>
</body>
</html>